<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="//www.lgstatic.com/kw-web-fed/static/favicon.ico">
    <link rel="Shortcut Icon" href="//www.lgstatic.com/kw-web-fed/static/favicon.ico" type="image/x-icon">
    <!--[if IE]>
        <script src="//cdn.jsdelivr.net/npm/es6-promise@4.1.1/dist/es6-promise.min.js"></script>
        <script>ES6Promise.polyfill()</script>
    <![endif]-->



    <meta content="拉勾教育,拉钩教育,课程,技术课程,技术培训,IT培训,IT技术思维,视频课程,Java,web前端,架构师,大数据,IT在线教育,开悟,测试开发工程师,python,微服务,数据结构与算法,谷歌算法，腾讯产品启示录" name="keywords">

    <meta content="拉勾教育是拉勾旗下的互联网人职场专业能力提升平台。拉勾教育邀请到国内外互联网名企资深工作者提纲挈领分享宝贵经验。按照专业技术能力全盘图谱、面试难点、实战案例分析等维度，拉勾教育的课程覆盖互联网技术方向，如Java,web前端,架构师,大数据,测试开发工程师,python,微服务,数据结构与算法等。拉勾教育致力于帮助互联网技术人在短周期内对技术深度进行突破，成为更专业的工作者，是一所真正的互联网人实战大学。" name="description">

    <meta name="apple-mobile-web-app-title" content="拉勾教育">
    <title>拉勾教育 - 拉勾旗下教育平台</title>
    </head>

    <body>
    <%- mainContent %>

    <script type="text/javascript" src="<%- staticUrl %>js/dll/<%- dll %>" crossorigin="anonymous"></script>
    </body>
</html>
