<script> (function(r, d, s) { var queryString = Math.random(); var adlink = d.createElement(s); adlink.type = 'text/javascript'; adlink.async = true; adlink.src = '//iadmusicmat.music.126.net/cloudmusic-ad/web-track-js-sdk.js?' + queryString; var s = d.getElementsByTagName(s)[0]; s.parentNode.insertBefore(adlink, s); })(window, document, 'script'); </script>

<script>
	!function(g,d,t,e,v,n,s){if(g.gdt)return;v=g.gdt=function(){v.tk?v.tk.apply(v,arguments):v.queue.push(arguments)};v.sv='1.0';v.bt=0;v.queue=[];n=d.createElement(t);n.async=!0;n.src=e;s=d.getElementsByTagName(t)[0];s.parentNode.insertBefore(n,s);}(window,document,'script','//qzonestyle.gtimg.cn/qzone/biz/gdt/dmp/user-action/gdtevent.min.js');
	gdt('init','1110521377');
	gdt('track','PAGE_VIEW');
</script>
<noscript>
	<img height="1" width="1" style="display:none" src="https://a.gdt.qq.com/pixel?user_action_set_id=1110521377&action_type=PAGE_VIEW&noscript=1"/>
</noscript>

<script src="https://s1.hdslb.com/bfs/cm/cm-sdk/static/js/track-collect.js"></script><script type="text/javascript">
	(function(root) {
	  window.zhad = [];
	  var tag = document.createElement('script'); tag.type ='text/javascript'; tag.async = true;
	  tag.src = '//unpkg.zhimg.com/@efe/zhad-tracker@1.4.1';
	  tag.onerror = function () {
		var img = new Image();
		img.src = '//sugar.zhihu.com/log_fe?js_url=' + window.encodeURIComponent(tag.src) + '&t=' + (+ new Date());
	  }
	  var s = document.getElementsByTagName('script')[0];
	  s.parentNode.insertBefore(tag, s);
	  })(window);
  </script>


